// Scss structure
@mixin button {
    @include border-radius(5px);
    @include transition(all, 0.3s, ease);
    text-align: center;
    margin: 0 auto;
    padding: 11.42857px 30px;
    color: $colorWhite;
    border: 1px solid $colorWhite;
    font-family: $fontCursiveFormal;
    font-size: $fontSizeBody + 12;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;

    &:hover {
        background: $colorWhite;
        color: $colorContrast3;
    }


body {
	background: #fff;
	p {
		font-family: Helvetica, Arial, sans-serif;
	}
}


font-size: $f-base-lg;
  }

.page{
    height: auto;
  }

.one h1{
    color: $c-Lightyellow;
    a{
      color: $Lightyellow;
      }

.mid {
 color: $c-Lightgrey;
   a{
     color: $Lightgrey;
   }
}

.down {
 color: $c-yellow;
 a{
   color: $yellow;
 }
}

.column-8{
 width: 100%;

 @media #{$bp-tablet} {
   max-width: $d-max-width;
   margin: auto;
 }
}
@media #{$bp-mobile} {
  text-align: center;
}


.column-4{
 width: 100%;

 @media #{$bp-tablet} {
   max-width: $d-max-width;
   margin: relative;
 }
}

.row{
 width: 50%;

 &:after{
   display: table;
   margin: auto;
 }
}

.foot1{
    color: $c-Lightgrey;
    a{
      color: $Lightgrey;
      }

.foot2{
     color: $c-Lightgrey;
     a{
       color: $Lightgrey;
         }

.foot3{
      color: $c-Lightgrey;
         a{
         color: $Lightgrey;
          }
